// Specific CSS for your home-page
.pagetitle{
  text-align: center
}
.list-users{
  color: #070707;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-left: 10px;
}
.avatar{
    float:right;

}
