<div class="pagetitle">
  <h1>Users list</h1>
</div>
<div class="container">
  <div class="col-xs-6">
    <div class="list-users">
      <div class="avatar">
        <img src="https://randomuser.me/api/portraits/med/women/56.jpg">
      </div>
      <p>Title: Mr</p>
      <p>First Name: Wilson</p>
      <p>Last Name: De la Vega </p>
      <p>Gender: Male</p>
      <p>E-mail: wilson@gmail.com</p>
      <p>Nat: br</p>
      <p>Seed: Giga</p>
    </div>
  </div>
</div>
